<span style="color:red; font-size:30px;">Do not use any libraries other than those that exist in this notebook.</span>

In [ ]:
# 아래 제시된 라이브러리 이외에 다른 외부 라이브러리를 활용해서는 안됨 
# 함수는 각자 필요에 따라서 만들면 됨

# Problem 1: US President height

**Problem**: The dataset provided below contains the heights of U.S. Presidents. Using this data, answer the following questions.

1. How many U.S. Presidents are in the dataset?
2. What is the mean height of the U.S. Presidents?
3. What is the median height of the U.S. Presidents?
4. What is the variance of the heights of the U.S. Presidents?
5. Who is the tallest U.S. President?
6. Who is the shortest U.S. president (if there are two presidents, in alphabetical order)?
7. What is the mean height of the top 10 tallest U.S. Presidents?
8. What is the mean height of the bottom 10 shortest U.S. Presidents?
9. What is the 25th percentile of the heights of the U.S. Presidents?
10. What is the mean height of U.S. Presidents whose first name is James?

In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('Data/president_heights.csv')
data.head()

   order               name  height(cm)
0      1  George Washington         189
1      2         John Adams         170
2      3   Thomas Jefferson         189
3      4      James Madison         163
4      5       James Monroe         183

In [2]:
# 1. Number of U.S. Presidents
num_presidents = None

# 2. Mean height of the presidents
mean_height = None

# 3. Median height of the presidents
median_height = None

# 4. Variance of the presidents' heights
variance_height = None

# 5. Name of the tallest president
tallest_president = None

# 6. Name of the shortest president
shortest_president = None

# 7. Mean height of the top 10 tallest presidents
top_10_mean_height = None

# 8. Mean height of the bottom 10 shortest presidents
bottom_10_mean_height = None

# 9. 25th percentile of the presidents' heights
percentile_25 = None

# 10. Mean height of presidents whose first name is James
james_mean_height = None

# Problem 1 answers
Problem_1_answers = [ num_presidents, mean_height, median_height, variance_height, tallest_president, shortest_president, top_10_mean_height, bottom_10_mean_height, percentile_25, james_mean_height ]
Problem_1_answers

[None, None, None, None, None, None, None, None, None, None]

# Problem 2: Boston housing data

The **`Boston`** dataset records **`medv`** (Median value of owner-occupied homes in \$1000's) for 
 neighborhoods around Boston. We will build a regression model to predict **`medv`** using 
 predictors such as **`crim`** (per capita crime rate by town), **`zn`** (proportion of residential land zoned for lots over 25,000 sq.ft), **`indus`** (proportion of non-retail business acres per town), **`chas`** (Charles River dummy variable (1 if tract bounds river; 0 otherwise), **`nox`** (nitric oxides concentration (parts per 10 million)), **`rm`** (average number of rooms per dwelling), **`dis`** (weighted distances to five Boston employment centres), **`rad`** (index of accessibility to radial highways),
**`tax`** (full-value property-tax rate per \$10,000), **`ptratio`** (pupil-teacher ratio by town B - 1000$(Bk - 0.63)^2$ where Bk is the proportion of blacks by town), **`lstat`** (percent of households with low socioeconomic status)

---

In [3]:
data = pd.read_csv('Data/Boston.csv')
data.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2

1. **Calculate the Interquartile Range (IQR)** for the **`medv`** column.
   
2. **Calculate the percentage of values smaller than Q1 - 1.5*IQR** for the **`medv`** column (Round the percentage to the nearest integer).

3. **Compute the Pearson correlation coefficient** between **`medv`** and **`lstat`** .

4. **Calculate the skewness** of the **`medv`** column.

5. **Perform an OLS regression** to predict **`medv`** using **`lstat`** as the predictor (without an intercept). Report the coefficient value.

6. **Perform an OLS regression** to predict **`medv`** using **`lstat`**, **`age`**, and **`nox`** as the predictors (with an intercept). Report the **adjusted R²** value.

7. **Construct the variance-covariance matrix** of the coefficients from the model in question 6, and calculate the sum of the diagonal elements of the matrix.

8. **Calculate the t-statistic** for the coefficient of **`nox`** in the model from question 6.

9. **Compute the sum of the residuals** from the model in question 6.

10. **Calculate the sum of the fitted `y` values** from the model in question 6.

In [4]:
import numpy as np

np.random.seed(0)

# 1. Interquartile Range (IQR) for the medv column
IQR = None


# 2. Calculate the percentage of values smaller than Q1 - 1.5*IQR for the medv column
percentage_below_rounded = None

# 3. Pearson correlation coefficient between medv and lstat
pearson_corr = None

# 4. Skewness of the medv column
medv_skewness = None

# 5. OLS regression for medv as y and lstat as x (without intercept)
coef_lstat_only = None

# 6. OLS regression with medv as y and lstat, age, nox as x (with intercept)
beta_combined = None

# Calculating adjusted R-squared in question 6
adjusted_R2 = None

# 7. Variance-covariance matrix and sum of diagonal elements
sum_diag_elements = None

# 8. t-statistic for the coefficient of nox
t_stat_nox = None

# 9. Sum of the residuals from the model in question 6
sum_residuals = None

# 10. Sum of the fitted y values from the model in question 6
sum_fitted_y = None

In [5]:
# Problem 2 answers
Problem_2_answers = [
    IQR,  # 1. IQR
    percentage_below_rounded,  # 2. Percentage below Q1 - 1.5*IQR
    pearson_corr,  # 3. Pearson correlation (medv, lstat)
    medv_skewness,  # 4. Skewness of medv
    coef_lstat_only,  # 5. OLS coefficient (medv ~ lstat)
    adjusted_R2,  # 6. Adjusted R2 (medv ~ lstat, age, nox)
    sum_diag_elements,  # 7. Sum of diagonal elements (variance-covariance matrix)
    t_stat_nox,  # 8. t-statistic for nox
    sum_residuals,  # 9. Sum of residuals
    sum_fitted_y  # 10. Sum of fitted y values
]
Problem_2_answers

[None, None, None, None, None, None, None, None, None, None]

# Problem 3: Auto

Auto Data is consisted of Gas mileage, horsepower, and other information for 392 vehicles. The dataframe with 392 observations on the following 9 variables.**`mpg`** (miles per gallon), **`cylinders`**(Number of cylinders between 4 and 8), **`displacement`**(Engine displacement (cu. inches)), **`horsepower`**(Engine horsepower), **`weight`**(Vehicle weight (lbs.)), **`acceleration`**(Time to accelerate from 0 to 60 mph (sec.)), **`year`**(Model year (modulo 100)), **`origin`**(Origin of car (1. American, 2. European, 3. Japanese)), **`name`** (Vehicle name)

In [17]:
data = pd.read_csv('Data/Auto.csv')
data.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'year', 'origin', 'name'],
      dtype='object')

For **ridge regression**, the objective function adds a penalty term to the RSS, specifically:

$$
\text{Ridge Objective} = \text{RSS} + \lambda \sum_{j=1}^{p} \beta_j^2
$$

This leads to a modified **normal equation** for ridge regression:

$$
\hat{\beta}^R = (X^TX + \lambda I)^{-1}X^Ty
$$

Where:
- $I$ is the **identity matrix** of size $p \times p$.
- $\lambda$ is the **tuning parameter** that controls the amount of shrinkage applied to the coefficients.


---

1. Split the dataset into **train data** (where the index is even) and **test data** (where the index is odd). Calculate the mean of **mpg** in the train data.
   
2. In the **train data**, set **y** as **mpg**, and **X** as a NumPy array consisting of all columns except **mpg**, **name**, and **year**. What is the value of **X.shape[1]**?

3. Standardize **X** using z-standardization, and find the maximum value in the **weight** column after standardization.

4. Perform Ridge regression using **y** and **X**, with **lambda = 0**. What is the coefficient for the **weight** column?

5. Perform Ridge regression using **y** and **X**, with **lambda = 50**. What is the coefficient for the **weight** column?

6. In the model from question 5, what is the coefficient for the **cylinders** column?

7. In the model from question 5, what is the coefficient for the **displacement** column?

8. In the model from question 5, what is the coefficient for the **horsepower** column?

9. In the model from question 5, what is the coefficient for the **acceleration** column?

10. Using the Ridge regression to **test data** from question 1 (without standardization), calculate the **LOOCV** (Leave-One-Out Cross Validation) MSE.

In [7]:
import numpy as np

# 1: Split data into train (even index) and test (odd index)
# Calculate mean of 'mpg' in train data

train_data = None
test_data = None
train_mpg_mean = None

# 2: Prepare X and y for train data (excluding mpg, name, year)
# Get the number of features (X.shape[1])

X_train = None
y_train = None
n_features = None

# 3: Standardize X_train and find the max value in the weight column after standardization
def standardize(X):
    mean_X = np.mean(X, axis=0)
    std_X = np.std(X, axis=0, ddof=1)
    return (X - mean_X) / std_X

max_weight_standardized = None

# 4 & 5: Ridge regression function and calculation
def ridge_regression(X, y, lam):
    #
    #
    #
    return beta_ridge

beta_ridge_lambda_0 = None
beta_ridge_lambda_50 = None

# 6–9: Coefficients for specific features based on Question 5 (lambda=50 model)
cylinder_coef_lambda_50 = None
displacement_coef_lambda_50 = None
horsepower_coef_lambda_50 = None
acceleration_coef_lambda_50 = None

# 10: LOOCV MSE calculation for test data
#class LOOCV:
    #return None

mse_loocv = None

In [8]:
Problem_3_answers = [
    train_mpg_mean,  # 1. Train mpg mean
    n_features,  # 2. X_train.shape[1]
    max_weight_standardized,  # 3. Max value in standardized weight
    beta_ridge_lambda_0,  # 4. Weight coefficient (lambda=0)
    beta_ridge_lambda_50,  # 5. Weight coefficient (lambda=50)
    cylinder_coef_lambda_50,  # 6. Cylinders coefficient (lambda=50)
    displacement_coef_lambda_50,  # 7. Displacement coefficient (lambda=50)
    horsepower_coef_lambda_50,  # 8. Horsepower coefficient (lambda=50)
    acceleration_coef_lambda_50,  # 9. Acceleration coefficient (lambda=50)
    mse_loocv  # 10. LOOCV MSE
]

Problem_3_answers

[None, None, None, None, None, None, None, None, None, None]

# Problem 4: BBC data

The data is consisted of 5 categories and 2,225 texts:

In [18]:
import pandas as pd

data = pd.read_csv('Data/bbc.csv')
data = data[data['category']=='tech']
data.reset_index(inplace=True,drop=True)
data.head()

  category                                               text
0     tech  tv future in the hands of viewers with home th...
1     tech  games maker fights for survival one of britain...
2     tech  security warning over  fbi virus  the us feder...
3     tech  halo 2 heralds traffic explosion the growing p...
4     tech  mobile audio enters new dimension as mobile ph...

In [19]:
import re 

def tokenizer(corpus) :
    processed_corpus = []
    for sentence in corpus:
        # Convert to lowercase
        sentence = sentence.lower()
        
        # Remove punctuation and non-alphabetic characters
        sentence = re.sub(r'[^a-z\s]', '', sentence)
        
        # Tokenize (split the sentence into words)
        words = sentence.split()
        
        processed_corpus.append([word for word in words if len(word)>=3])
    
    return processed_corpus

corpus = data['text']
tokenized_doc_pre = tokenizer(corpus)

In [20]:
from collections import defaultdict

# Count word frequencies
word_freq = defaultdict(int)
for sentence in tokenized_doc_pre:
    for word in sentence:
        word_freq[word] += 1
        
# Filter the vocabulary to include only words that appear more than 50 times
min_freq = 50
vocabulary = sorted([word for word, freq in word_freq.items() if freq >= min_freq])

tokenized_doc = []
for doc in tokenized_doc_pre:
    temp_list = [] 
    for word in doc:
        if word in vocabulary:
            temp_list.append(word)
    tokenized_doc.append(temp_list)

In [21]:
len(vocabulary), len(tokenized_doc)

(487, 401)

1. Using **vocabulary** and **tokenized_doc**, construct a **Document-Term Matrix (DTM)**. What is the token with the highest term frequency in the 5th document?
   
2. In the first document, identify the token with the **lowest tf-idf value**.

3. Sort the columns of the DTM by the document frequency (df) in **descending order** and identify value of the first row and column.

4. Transpose the **sorted DTM in Q3** to construct a **Word-Document Matrix (X)**. What is the value of **X.shape[0]**?

5. Perform **Singular Value Decomposition (SVD) on X in Q4**. How many singular values are in the **Singular Value Matrix**?

6. **Using X in Q4** Perform Truncated SVD up to 3 dimensions and embed the documents into a **3-dimensional vector space**. What is the sum of the document embedding vector for the **third document (index 2)**?

7. Similar to Q6, Derive word embedding vectors, calculate the sum of the word embedding vector corresponding to the token **"apple"**.

8. Calculate the **cosine similarity** between the document embedding vector in Q6 (third document) and the word embedding vector from Q7 (token "apple").

9. Using the document embedding vectors, calculate the **cosine similarity** between the **10th document (index 9)** and the **11th document (index 10)**.

10. Using the DTM, calculate the **Jaccard similarity** between the **10th document** and the **11th document**.

In [13]:
import numpy as np
import math

# Data:
documents = tokenized_doc

# 1. Create DTM and find the most frequent token in the 5th document (index = 4)
most_frequent_token = None

# 2. Compute TF-IDF for the first document (index = 0) and find the token with the lowest TF-IDF
lowest_tf_idf_token = None

# 3. Sort DTM by document frequency in descending order, returen the first row and column element.
dtm_sorted = None

# 4. Transpose sorted DTM and find X.shape[0]
#X = dtm_sorted.T
X_shape_0 = None

# 5. Perform SVD on X and calculate the number of non - zero singular value (over than threshold = 1e-10)
threshold = 1e-10
singular_value_count = None

# 6. Find the embedding for the third document and calculate the sum
sum_third_document_embedding = None

# 7. Find the embedding for the word 'apple' and calculate its elements sum
sum_apple_embedding = None

# 8. Calculate cosine similarity between document 3's (index 2) embedding and the word 'apple'
cosine_sim_doc_apple = None

# 9. Calculate cosine similarity between the 10th and 11th document embeddings
cosine_sim_doc_10_11 = None

# 10. Calculate Jaccard similarity between the 10th and 11th documents using DTM
jaccard_sim_doc_10_11 = None

In [14]:
Problem_4_answers = [
    most_frequent_token,  # 1. Token with the highest term frequency in the 5th document
    lowest_tf_idf_token,  # 2. Token with the lowest TF-IDF value in the 1st document
    dtm_sorted,  # 3. Value of the first row and column after sorting DTM by document frequency
    X_shape_0,  # 4. X.shape[0] after transposing the sorted DTM
    singular_value_count,  # 5. Number of singular values in the Singular Value Matrix
    sum_third_document_embedding,  # 6. Sum of the document embedding vector for the third document
    sum_apple_embedding,  # 7. Sum of the word embedding vector for the token "apple"
    cosine_sim_doc_apple,  # 8. Cosine similarity between the third document and "apple"
    cosine_sim_doc_10_11,  # 9. Cosine similarity between the 10th and 11th documents
    jaccard_sim_doc_10_11  # 10. Jaccard similarity between the 10th and 11th documents using DTM
]

# Answer

In [15]:
Problem_1_answers, Problem_2_answers, Problem_3_answers, Problem_4_answers

([None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None])

In [16]:
# 수치데이터인 경우는 소수점 3째자리에서 반올림한 값을 제출
# 한국시간 24.10.28일 수업 시작 전까지 블랙보드의 Assignment 1에 ipynb 및 csv 파일 제출
# 파일명은 모두 {학번_한글이름}으로 제출

Answer_df = pd.DataFrame()
Answer_df['Problem 1'] = Problem_1_answers
Answer_df['Problem 2'] = Problem_2_answers
Answer_df['Problem 3'] = Problem_3_answers
Answer_df['Problem 4'] = Problem_4_answers

# Apply rounding to numeric columns (column-wise)
Answer_df = Answer_df.apply(pd.to_numeric, errors='ignore').round(2)

# Apply rounding to numeric rows (row-wise)
Answer_df = Answer_df.apply(lambda x: pd.to_numeric(x, errors='ignore')).applymap(lambda x: round(x, 2) if isinstance(x, (int, float)) else x)

# Save the DataFrame to a CSV file
Answer_df.to_csv('202036201_정다운.csv', index=False)
Answer_df

   Problem 1  Problem 2  Problem 3  Problem 4
0        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN
4        NaN        NaN        NaN        NaN
5        NaN        NaN        NaN        NaN
6        NaN        NaN        NaN        NaN
7        NaN        NaN        NaN        NaN
8        NaN        NaN        NaN        NaN
9        NaN        NaN        NaN        NaN

In [ ]:
# 문의 사항은 jdwoon0523@gmail.com으로 부탁드립니다.