<span style="color:red; font-size:30px;">Do not use any libraries other than those that exist in this notebook.</span>

# Problem 1: US President height

**Problem**: The dataset provided below contains the heights of U.S. Presidents. Using this data, answer the following questions.

1. What is the mean height of U.S. Presidents?
2. Calculate the integer value closest to the mean height of U.S. Presidents, and how many presidents have that exact height?
3. What is the median height of U.S. Presidents?
4. What is the standard deviation of the heights of U.S. Presidents?
5. What is the tallest height of U.S. Presidents?
6. What is the shortest height of U.S. Presidents?
7. What is the mean height of U.S. Presidents ranked 11th to 20th in height?
8. What is the 75th percentile of U.S. Presidents' heights?
9. How many U.S. Presidents have heights greater than or equal to the 75th percentile?
10. How many distinct last names are there among U.S. Presidents?

In [42]:
import pandas as pd
import numpy as np

data = pd.read_csv('Data/president_heights.csv')
data.head()

   order               name  height(cm)
0      1  George Washington         189
1      2         John Adams         170
2      3   Thomas Jefferson         189
3      4      James Madison         163
4      5       James Monroe         183

In [43]:
# Code to answer the new set of questions based on the president heights dataset

# 1. Mean height of U.S. Presidents
mean_height = None

# 2. Calculate the integer value closest to the mean height of U.S. Presidents and how many presidents have that exact height
num_presidents_with_closest_mean_height = None

# 3. Median height of U.S. Presidents
median_height = None

# 4. Standard deviation of U.S. Presidents' heights
stddev_height = None

# 5. Tallest height of U.S. Presidents
tallest_height = None

# 6. Shortest height of U.S. Presidents
shortest_height = None

# 7. Mean height of U.S. Presidents ranked 11th to 20th in height
top_11_to_20_mean_height = None

# 8. 75th percentile of U.S. Presidents' heights
percentile_75 = None

# 9. Number of U.S. Presidents with heights greater than or equal to the 75th percentile
num_presidents_above_75_percentile = None

# 10. Number of distinct last names among U.S. Presidents
num_distinct_last_names = None

# Problem 1 answers
Problem_1_answers = [
    mean_height, 
    num_presidents_with_closest_mean_height, 
    median_height, 
    stddev_height, 
    tallest_height, 
    shortest_height, 
    top_11_to_20_mean_height, 
    percentile_75, 
    num_presidents_above_75_percentile, 
    num_distinct_last_names
]
Problem_1_answers

[None, None, None, None, None, None, None, None, None, None]

# Problem 2: Boston housing data

The **`Boston`** dataset records **`medv`** (Median value of owner-occupied homes in \$1000's) for 
 neighborhoods around Boston. We will build a regression model to predict **`medv`** using 
 predictors such as **`crim`** (per capita crime rate by town), **`zn`** (proportion of residential land zoned for lots over 25,000 sq.ft), **`indus`** (proportion of non-retail business acres per town), **`chas`** (Charles River dummy variable (1 if tract bounds river; 0 otherwise), **`nox`** (nitric oxides concentration (parts per 10 million)), **`rm`** (average number of rooms per dwelling), **`dis`** (weighted distances to five Boston employment centres), **`rad`** (index of accessibility to radial highways),
**`tax`** (full-value property-tax rate per \$10,000), **`ptratio`** (pupil-teacher ratio by town B - 1000$(Bk - 0.63)^2$ where Bk is the proportion of blacks by town), **`lstat`** (percent of households with low socioeconomic status)

---

In [44]:
data = pd.read_csv('Data/Boston.csv')
data.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2

1. What is the Interquartile Range (IQR) for the `medv` column?
2. What percentage of values are greater than or equal to Q3 + 1.5*IQR in the `medv` column?
3. What is the Pearson correlation coefficient between `medv` and `nox`?
4. What is the skewness of the `age` column?
5. Perform an OLS regression to predict `medv` using `lstat`, `age`, and `nox` as the predictors (with an intercept). Report the adjusted R² value.
6. Construct the variance-covariance matrix of the coefficients from the model in question 5, and calculate the sum of the diagonal elements of the matrix.
7. What is the R² value from the model in question 5?
8. What is the t-statistic for the estimated coefficient of `nox` in the model from question 5?
9. Calculate the 95% confidence interval for the estimated `nox` coefficient and find the sum of the upper and lower bounds.
10. What is the intercept value of the OLS model from question 5?

In [45]:
# 1. Interquartile Range (IQR) for the medv column
IQR = None

# 2. Percentage of values greater than or equal to Q1 + 1.5*IQR in the medv column
percentage_above = None

# 3. Pearson correlation coefficient between medv and nox
pearson_corr_medv_nox = None

# 4. Skewness of the age column
age_skewness = None

# 5. OLS regression to predict medv using lstat, age, and nox as predictors (with intercept) and Calculating Adjusted R-squared
adjusted_R2 = None

# 6. Variance-covariance matrix and sum of diagonal elements
sum_diag_elements = None

# 7. R² value from the model in question 5
R2 = None

# 8. t-statistic for the estimated coefficient of nox
t_stat_nox = None

# 9. Confidence interval for the estimated nox coefficient and sum of upper and lower bounds
ci_sum_nox = None

# 10. Intercept value of the OLS model from question 5
intercept_value = None

# Final answers in list format with comments indicating the original key names
Problem_2_answers = [
    IQR,  # 'IQR'
    percentage_above,  # 'Percentage_above_Q3_plus_1.5IQR'
    pearson_corr_medv_nox,  # 'Pearson_corr_medv_nox'
    age_skewness,  # 'Age_skewness'
    adjusted_R2,  # 'Adjusted_R2'
    sum_diag_elements,  # 'Sum_of_diag_elements'
    R2,  # 'R2_value'
    t_stat_nox,  # 'T_stat_nox'
    ci_sum_nox,  # 'Confidence_interval_sum_nox'
    intercept_value  # 'Intercept_value'
]

Problem_2_answers

[None, None, None, None, None, None, None, None, None, None]

# Problem 3: Auto

Auto Data is consisted of Gas mileage, horsepower, and other information for 392 vehicles. The dataframe with 392 observations on the following 9 variables.**`mpg`** (miles per gallon), **`cylinders`**(Number of cylinders between 4 and 8), **`displacement`**(Engine displacement (cu. inches)), **`horsepower`**(Engine horsepower), **`weight`**(Vehicle weight (lbs.)), **`acceleration`**(Time to accelerate from 0 to 60 mph (sec.)), **`year`**(Model year (modulo 100)), **`origin`**(Origin of car (1. American, 2. European, 3. Japanese)), **`name`** (Vehicle name)

In [46]:
data = pd.read_csv('Data/Auto.csv')
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

For **ridge regression**, the objective function adds a penalty term to the RSS, specifically:

$$
\text{Ridge Objective} = \text{RSS} + \lambda \sum_{j=1}^{p} \beta_j^2
$$

This leads to a modified **normal equation** for ridge regression:

$$
\hat{\beta}^R = (X^TX + \lambda I)^{-1}X^Ty
$$

Where:
- $I$ is the **identity matrix** of size $p \times p$.
- $\lambda$ is the **tuning parameter** that controls the amount of shrinkage applied to the coefficients.


---

1. In the **name** column, the first word represents the manufacturer. Create a new column **firm** that contains the manufacturers of each car (ignore any spelling errors like "toyouta"; treat them as unique manufacturers).

2. Split the data into **train** (where **firm** is not "toyota") and **test** (where **firm** is "toyota"). How many entries are in the train dataset?

3. Standardize the **train** data. What is the minimum value in the **weight** column after standardization?

4. Perform Ridge regression using the standardized **train** data with **lambda = 0**. What is the coefficient for the **weight** column? (ridge regression without intercept)

5. Perform Ridge regression using the standardized **train** data with **lambda = 50**. What is the coefficient for the **weight** column? (ridge regression without intercept)

6. In the model from question 5, what is the coefficient for the **cylinders** column?

7. In the model from question 5, what is the coefficient for the **displacement** column?

8. In the model from question 5, what is the coefficient for the **horsepower** column?

9. In the model from question 5, what is the coefficient for the **acceleration** column?

10. Using the Ridge regression with **lambda = 50** on the **test** data (without standardization), calculate the **LOOCV** (Leave-One-Out Cross Validation) MSE.

In [47]:
# 1. Create a 'firm' column by extracting the first word from the 'name' column
number_firm = None

# 2. Split the data into test (where firm is 'toyota') and train (all other firms) 
# Calculate the number of entries in the train dataset
train_data_count = None

# 3. Standardize the train data (excluding 'mpg', 'name', 'year', and 'firm')
# Including cylinders, displacement, horsepower, weight, acceleration, origin
# Find the minimum value in the weight column after standardization
min_weight_standardized = None

# Step 4–10: The remaining steps are the same as the original code provided
# Ridge regression function and calculation
# Ridge regression with lambda = 0 and lambda = 50
# ridge regression without intercept
beta_ridge_lambda_0 = None
beta_ridge_lambda_50 = None

# Coefficients for specific features based on lambda=50
cylinder_coef_lambda_50 = None
displacement_coef_lambda_50 = None
horsepower_coef_lambda_50 = None
acceleration_coef_lambda_50 = None

# LOOCV MSE calculation for test data
# Using LOOCV class to calculate MSE
mse_loocv = None

In [48]:
Problem_3_answers = [
    number_firm,  # 1. Number of Manufacturers
    train_data_count,  # 2. X_train.shape[1]
    min_weight_standardized,  # 3. Min value in standardized weight
    beta_ridge_lambda_0,  # 4. Weight coefficient (lambda=0)
    beta_ridge_lambda_50,  # 5. Weight coefficient (lambda=50)
    cylinder_coef_lambda_50,  # 6. Cylinders coefficient (lambda=50)
    displacement_coef_lambda_50,  # 7. Displacement coefficient (lambda=50)
    horsepower_coef_lambda_50,  # 8. Horsepower coefficient (lambda=50)
    acceleration_coef_lambda_50,  # 9. Acceleration coefficient (lambda=50)
    mse_loocv  # 10. LOOCV MSE
]

Problem_3_answers

[None, None, None, None, None, None, None, None, None, None]

# Problem 4: BBC data

The data is consisted of 5 categories and 2,225 texts:

In [49]:
import pandas as pd

data = pd.read_csv('Data/bbc.csv')
data = data[data['category']=='tech']
data.reset_index(inplace=True,drop=True)
data.head()

  category                                               text
0     tech  tv future in the hands of viewers with home th...
1     tech  games maker fights for survival one of britain...
2     tech  security warning over  fbi virus  the us feder...
3     tech  halo 2 heralds traffic explosion the growing p...
4     tech  mobile audio enters new dimension as mobile ph...

In [50]:
import re 

def tokenizer(corpus) :
    processed_corpus = []
    for sentence in corpus:
        # Convert to lowercase
        sentence = sentence.lower()
        
        # Remove punctuation and non-alphabetic characters
        sentence = re.sub(r'[^a-z\s]', '', sentence)
        
        # Tokenize (split the sentence into words)
        words = sentence.split()
        
        processed_corpus.append([word for word in words if len(word)>=3])
    
    return processed_corpus

corpus = data['text']
tokenized_doc_pre = tokenizer(corpus)

In [51]:
from collections import defaultdict

# Count word frequencies
word_freq = defaultdict(int)
for sentence in tokenized_doc_pre:
    for word in sentence:
        word_freq[word] += 1
        
# Filter the vocabulary to include only words that appear more than 50 times
min_freq = 50
vocabulary = sorted([word for word, freq in word_freq.items() if freq >= min_freq])

# Vocabulary Index ************************************
vocabulary_index = {i:word for i, word in enumerate(vocabulary)}

tokenized_doc = []
for doc in tokenized_doc_pre:
    temp_list = [] 
    for word in doc:
        if word in vocabulary:
            temp_list.append(word)
    tokenized_doc.append(temp_list)

1. Using **vocabulary** and **tokenized_doc**, construct a **Document-Term Matrix (DTM)**. What is the token with the highest term frequency in the 5th document?

2. In the first document, identify the token with the **lowest TF-IDF value**.

3. Sort the columns of the DTM by the vocabulary index in given **vocabulary_index** and identify the value of the first row and column.

4. Transpose the sorted DTM to construct a **Word-Document Matrix (X)**. What is the value of **X.shape[0]**?

5. Perform **Singular Value Decomposition (SVD)** on X. How many singular values are in the **Singular Value Matrix**? (Singular values smaller than 1e-10 can be considered as 0.)

6. Perform Truncated SVD up to 3 dimensions and embed the documents into a **3-dimensional vector space**. What is the sum of the document embedding vector for the **third document**?

7. Using the word embedding vectors from step 4, calculate the sum of the word embedding vector corresponding to the token **"apple"**.

8. **Find the word most similar to "apple"** using the word embedding vectors from step 7. Use **cosine similarity** to identify the closest word except 'apple'.

9. **Find the document most similar to "apple"** using the word embedding vectors and document embedding vectors from step 6. Use **cosine similarity** to identify the document most similar to "apple."

10. Using the DTM, calculate the **Jaccard similarity** between the **10th document** and the **11th document**.

In [52]:
import numpy as np
import math

documents = tokenized_doc

# 1. Create DTM and find the most frequent token in the 5th document (index = 4)
most_frequent_token = None

# 2. Compute TF-IDF for the first document (index = 0) and find the token with the lowest TF-IDF
lowest_tf_idf_token = None

# 3. Sort DTM by document frequency in descending order
dtm_sorted_00 = None

# 4. Transpose sorted DTM and find X.shape[0]
X_shape_0 = None

# 5. Perform SVD on X and Find Rank of Singular value Matrix
threshold = 1e-10
singular_value_count = None

# 6. Find the embedding for the third document (index = 2) and calculate the sum
sum_third_document_embedding = None

# 7. Find the embedding for the word 'apple' and calculate its sum
sum_apple_embedding = None

# 8. Find the word (exclude apple) most similar to 'apple' using cosine similarity
most_similar_word = None

# 9. Find the document most similar to 'apple' using cosine similarity
most_similar_document = None

# 10. Calculate Jaccard similarity between the 10th (index = 9) and 11th documents (index = 10) using DTM
jaccard_sim_doc_10_11 = None

In [53]:
Problem_4_answers = [
    most_frequent_token,  # 1. Token with the highest term frequency in the 5th document
    lowest_tf_idf_token,  # 2. Token with the lowest TF-IDF value in the 1st document
    dtm_sorted_00,  # 3. Value of the first row and column after sorting DTM by document frequency
    X_shape_0,  # 4. X.shape[0] after transposing the sorted DTM
    singular_value_count,  # 5. Number of singular values in the Singular Value Matrix
    sum_third_document_embedding,  # 6. Sum of the document embedding vector for the third document
    sum_apple_embedding,  # 7. Sum of the word embedding vector for the token "apple"
    most_similar_word,  
    most_similar_document,  
    jaccard_sim_doc_10_11  # 10. Jaccard similarity between the 10th and 11th documents using DTM
]
Problem_4_answers

[None, None, None, None, None, None, None, None, None, None]

# Answer

In [54]:
Problem_1_answers, Problem_2_answers, Problem_3_answers, Problem_4_answers

([None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None])

In [55]:
len(Problem_1_answers), len(Problem_2_answers), len(Problem_3_answers), len(Problem_4_answers)

(10, 10, 10, 10)

In [56]:
# 수치데이터인 경우는 소수점 3째자리에서 반올림한 값을 제출

Answer_df = pd.DataFrame()
Answer_df['Problem 1'] = Problem_1_answers
Answer_df['Problem 2'] = Problem_2_answers
Answer_df['Problem 3'] = Problem_3_answers
Answer_df['Problem 4'] = Problem_4_answers

# Apply rounding to numeric columns (column-wise)
Answer_df = Answer_df.apply(pd.to_numeric, errors='ignore').round(2)

# Apply rounding to numeric rows (row-wise)
Answer_df = Answer_df.apply(lambda x: pd.to_numeric(x, errors='ignore')).applymap(lambda x: round(x, 2) if isinstance(x, (int, float)) else x)

# Save the DataFrame to a CSV file
#Answer_df.to_csv('202036201_정다운.csv', index=False)
Answer_df

   Problem 1  Problem 2  Problem 3  Problem 4
0        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN
4        NaN        NaN        NaN        NaN
5        NaN        NaN        NaN        NaN
6        NaN        NaN        NaN        NaN
7        NaN        NaN        NaN        NaN
8        NaN        NaN        NaN        NaN
9        NaN        NaN        NaN        NaN

In [57]:
# 수고하셨습니다